header {
  font-size: 20px;
  align-content: center;
}


.nav-link {
  color: white;
}
.navbar-left {
  position: absolute;
  left: 15%;
}
.navbar-center {
  position: absolute;
  left: 22%;
}
.navbar-resume {
  position: absolute;
  left: 29%;
}
.navbar-right {
  position: absolute;
  right: 15%;
  color: red;
}
.navbar-right:hover {
  color: white;
}

.navbar-resume:hover {
  color: red;
}
body {
  background-color: black;
  font-family: "Dosis";
  font-size: 50px;
}
#image {
  height: 100%;
  position: relative;
  top: 5%;

}
.centered {
  color: rgba(248, 248, 247, 0.815);
  position: absolute;
  top: 15%;
  left: 63%;
  transform: translate(-50%, -50%);
  font-size: 75%;
}
#name {
  font-size: 150%;
}


.about-me {
  margin-top: 5%;
  font-size: 20px;
}
a {
  font-size: 20px;
  color: red;
}
a:hover {
  text-decoration: none;
  color: red;
}


a:visited {
  text-decoration: none ;
}
a:link {
  text-decoration: none;
}
.bio:hover {
  text-decoration: underline;
}

#icons {
  position: absolute;
  left: 50%;
}

#icons {
  position: absolute;
  text-align: center;
  bottom: 44%;
}
